.App {
  text-align: center;
}

nav {
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background: #E21833;
  color: white;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E21833;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li.nav-items a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.nav-items {
  float: right;
}

.inner-nav {
  margin: 0 1rem;
}

@media screen and (min-width: 600px) {
  .inner-nav {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .inner-nav {
    margin: 0 10rem;
  }
}